In [9]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [10]:
movies=pd.read_csv('movies.csv')
ratings=pd.read_csv('ratings.csv')

In [11]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [12]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [13]:
#So what we see is movies dataframe consist of all movie info and what genre it have and rating consist of users rating to various movies.

In [14]:
#Now removing the unnecessary column like timestamp from ratings and genres from movies(although genres is a very important feature but it is for content based system where similarity is between movies and contents but right now we need similarity between users)

In [15]:
movies.drop('genres',axis=1,inplace=True)
ratings.drop('timestamp',axis=1,inplace=True)

In [16]:
#Now combining the both the dataframes on movieId

In [18]:
df=movies.merge(ratings,on='movieId')

In [19]:
df.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [20]:
#Now we can see for a particular movie many users had given different ratings

In [42]:
new_df=df.dropna(axis=0,subset=['title'])

In [43]:
#now creating a separate dataframe for total number of rating counts

In [44]:
count=(new_df.groupby('title')['rating'].count().reset_index())

In [45]:
count.head()

                                     title  rating
0                               '71 (2014)       1
1  'Hellboy': The Seeds of Creation (2004)       1
2                   'Round Midnight (1986)       2
3                      'Salem's Lot (2004)       1
4                'Til There Was You (1997)       2

In [46]:
count['totalratingcount']=count['rating']
count.drop('rating',inplace=True,axis=1)

In [47]:
count.head()

                                     title  totalratingcount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [48]:
#Now we have rating count for each and every movie hence we can merge this dataframe to older datafrane

In [50]:
final=new_df.merge(count, left_on = 'title', right_on = 'title', how = 'left')
#Now this final dataframe consist of rating count and total rating count for every movie given by user

In [51]:
final.head()

   movieId             title  userId  rating  totalratingcount
0        1  Toy Story (1995)       1     4.0               215
1        1  Toy Story (1995)       5     4.0               215
2        1  Toy Story (1995)       7     4.5               215
3        1  Toy Story (1995)      15     2.5               215
4        1  Toy Story (1995)      17     4.5               215

In [52]:
rating_threshold=50
final_1=final.query('totalratingcount >=@rating_threshold')
final_1.head()

   movieId             title  userId  rating  totalratingcount
0        1  Toy Story (1995)       1     4.0               215
1        1  Toy Story (1995)       5     4.0               215
2        1  Toy Story (1995)       7     4.5               215
3        1  Toy Story (1995)      15     2.5               215
4        1  Toy Story (1995)      17     4.5               215

In [53]:
final_1.shape

(41362, 5)

In [55]:
features=final_1.pivot_table(values='rating', index='title', columns='userId').fillna(0)
features.head()

userId                             1    2    3    4    ...  607  608  609  610
title                                                  ...
10 Things I Hate About You (1999)  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
12 Angry Men (1957)                0.0  0.0  0.0  5.0  ...  0.0  0.0  0.0  0.0
2001: A Space Odyssey (1968)       0.0  0.0  0.0  0.0  ...  0.0  3.0  0.0  4.5
28 Days Later (2002)               0.0  0.0  0.0  0.0  ...  0.0  3.5  0.0  5.0
300 (2007)                         0.0  0.0  0.0  0.0  ...  0.0  5.0  0.0  4.0

[5 rows x 606 columns]

In [61]:
from scipy.sparse import csr_matrix
final_matrix=csr_matrix(features.values)

In [62]:
from sklearn.neighbors import NearestNeighbors

In [63]:
model_knn=NearestNeighbors(metric='cosine',algorithm='brute')

In [65]:
model_knn.fit(final_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [98]:
#Now finding the matching movies on the basis of index

print(query_index)
distances, indices = model_knn.kneighbors(features.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 5)

49

In [99]:
for i in range(0,len(distances.flatten())):
   if i == 0:
        print('Recommendations for {0}:\n'.format(features.index[query_index]))
   else:
        print('{0}: {1}, with distance of {2}:'.format(i, features.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Beetlejuice (1988):

1: Big (1988), with distance of 0.3593956849390836:
2: Edward Scissorhands (1990), with distance of 0.43060896253904957:
3: Austin Powers: International Man of Mystery (1997), with distance of 0.4362342576839707:
4: Ghostbusters (a.k.a. Ghost Busters) (1984), with distance of 0.4404184943634365:

In [100]:
a=features.index

In [101]:
a

Index(['10 Things I Hate About You (1999)', '12 Angry Men (1957)',
       '2001: A Space Odyssey (1968)', '28 Days Later (2002)', '300 (2007)',
       '40-Year-Old Virgin, The (2005)', 'A.I. Artificial Intelligence (2001)',
       'Abyss, The (1989)', 'Ace Ventura: Pet Detective (1994)',
       'Ace Ventura: When Nature Calls (1995)',
       ...
       'Willy Wonka & the Chocolate Factory (1971)',
       'Wizard of Oz, The (1939)', 'Wolf of Wall Street, The (2013)',
       'X-Men (2000)', 'X-Men: The Last Stand (2006)',
       'X2: X-Men United (2003)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Zombieland (2009)', 'Zoolander (2001)'],
      dtype='object', name='title', length=450)

In [111]:
i=0
for i,j in enumerate(a):
  if j=='Goldfinger (1964)':
    print(i)

176

449

Recommendations for Beetlejuice (1988):

1: Big (1988), with distance of 0.3593956849390836:
2: Edward Scissorhands (1990), with distance of 0.43060896253904957:
3: Austin Powers: International Man of Mystery (1997), with distance of 0.4362342576839707:
4: Ghostbusters (a.k.a. Ghost Busters) (1984), with distance of 0.4404184943634365:
5: Indiana Jones and the Temple of Doom (1984), with distance of 0.4422174807172907:
6: Honey, I Shrunk the Kids (1989), with distance of 0.44484680371203733:
7: Breakfast Club, The (1985), with distance of 0.4486749918473675:
8: Who Framed Roger Rabbit? (1988), with distance of 0.4586472262491299:
9: Splash (1984), with distance of 0.46086516424271406:
10: Nightmare Before Christmas, The (1993), with distance of 0.46980341373849965:
11: Ferris Bueller's Day Off (1986), with distance of 0.4706572745510048:
12: Back to the Future Part III (1990), with distance of 0.48574454930760214:
13: Princess Bride, The (1987), with distance of 0.4882298439809456:
14: Hook (1991), with distance of 0.4882745762338069:
15: Little Mermaid, The (1989), with distance of 0.4918164212463122:
16: Monty Python and the Holy Grail (1975), with distance of 0.4918682243868502:
17: Austin Powers: The Spy Who Shagged Me (1999), with distance of 0.49281801992632013:
18: Goonies, The (1985), with distance of 0.49761432983143516:
19: Being John Malkovich (1999), with distance of 0.49934695981131894:
20: Indiana Jones and the Last Crusade (1989), with distance of 0.5000948155050201:
21: Groundhog Day (1993), with distance of 0.5019940357162982:
22: E.T. the Extra-Terrestrial (1982), with distance of 0.5039891017892104:
23: Willy Wonka & the Chocolate Factory (1971), with distance of 0.5083830666884492:
24: Spaceballs (1987), with distance of 0.5119318409878711:
25: Total Recall (1990), with distance of 0.5169724244641892:
26: Big Lebowski, The (1998), with distance of 0.5176722935784136:
27: Christmas Story, A (1983), with distance of 0.5184915202067628:
28: Back to the Future (1985), with distance of 0.5212227103578362:
29: Fifth Element, The (1997), with distance of 0.523527581935217:
30: This Is Spinal Tap (1984), with distance of 0.5236431012871172:
31: Airplane! (1980), with distance of 0.5244761199477752:
32: There's Something About Mary (1998), with distance of 0.5249971984652918:
33: Star Wars: Episode V - The Empire Strikes Back (1980), with distance of 0.5251841371272437:
34: Lady and the Tramp (1955), with distance of 0.5278258431382531:
35: Star Wars: Episode VI - Return of the Jedi (1983), with distance of 0.5294956063497603:
36: Reservoir Dogs (1992), with distance of 0.5306826048684228:
37: RoboCop (1987), with distance of 0.5331535557305467:
38: Mary Poppins (1964), with distance of 0.5332210063443229:
39: Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981), with distance of 0.5335211086183098:
40: Wayne's World (1992), with distance of 0.5343600229125482:
41: Raising Arizona (1987), with distance of 0.5346835433813888:
42: Wizard of Oz, The (1939), with distance of 0.5349952199122163:
43: Star Wars: Episode I - The Phantom Menace (1999), with distance of 0.535808506633692:
44: Shining, The (1980), with distance of 0.5375230992736143:
45: Men in Black (a.k.a. MIB) (1997), with distance of 0.5382562993599069:
46: Back to the Future Part II (1989), with distance of 0.5408479423751495:
47: Star Wars: Episode IV - A New Hope (1977), with distance of 0.5437323067209017:
48: Truman Show, The (1998), with distance of 0.5442562814796205:
49: Sleepy Hollow (1999), with distance of 0.5483843658529663: